<!--
  Generated template for the UserDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{user.firstname}} {{user.lastname}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>

    <ion-item>
      <h2>{{user.firstname}} {{user.lastname}}</h2>
      <p>{{user.email}}</p>
    </ion-item>

    <ion-card-content>
      <ion-item>
        <ion-icon name="people" item-start large></ion-icon>
        <h2>{{ "TEAM" | translate }}</h2>
        <p *ngIf="user.team == null">
            {{ "NOTEAM" | translate}}
        </p>
        <p *ngIf="user.team != null">
          {{user.team.name}}
        </p>
      </ion-item>
      <ion-row>
        <ion-col center text-right>
          <ion-note>
            {{ 'ADDED_ON' | translate }} {{user.createdAt | date}}
          </ion-note>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
